/*----------------TAG SELECTORS-----------------*/

div{
    margin: 0;
    background-color: #333F44;
    display: block;
}
body{
    background-color:#eff6f5 ;
    margin: 0;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #d4e7e4;
  border-width: 5px;
  width: 200px;
}

h1{
  color: #37AA9C;
  font-size: 6em;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #2c887c;
  font-size: 40px;
  font-family: "Andale Mono", monospace;
}

h3{
  color: #2c887c;
  font-size: 25px;
}

table{
    color: #37AA9C;
    font-size: 20px;
}

span{
  color: #FAF9F6;
}
/*--------------------CLASS SELECTOR------------------*/


.intro{
  width: 100%;

}
.intro1{
  color: #37AA9C;
  width: auto;
  text-align: center;
  padding-top: 30px;
  margin: 0;

}
.intro2{
  color: #37AA9C;
  width: auto;
  text-align: center;
  margin-top: 10px;
}
.intro3{
  color:  #FAF9F6;
  width: auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #37AA9C;
  font-weight: bolder;
  padding-bottom: 50px;
}

.contactlink{
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;

}
/*********************************************/

.aboutimage{
  background-color: #eff6f5;
  width: 25%;
  float: left;
  margin-right: 150px;
}
.me{
  text-align:  left;
  background-color: #eff6f5;
  color:  #14191b;
  font-family: "Lucida Sans" , sans-serif;
  font-size: 20px;

}


.aboutme{

  width: 70%;
  background-color: #eff6f5;
  text-align: left;
  margin: auto;
}


.about{
  text-align: left;
  font-size: 50px;
  color: #2c887c;
  float: left;
  background-color: #eff6f5;
}

/*********************************/

.skills{

  width: 70%;
  background-color: #eff6f5;
  text-align: left;
  margin: auto;
}

.skillshead{

  text-align: left;
  font-size: 50px;
  color: #2c887c;

  background-color: #eff6f5;
}

.skillimg{
  background-color: #eff6f5;
  width: 25%;
  float: right;
  margin-right: 50px;
}

.skillabout{
  text-align:  left;
  background-color: #eff6f5;
  color:  #14191b;
  font-family: "Lucida Sans" , sans-serif;
  font-size: 20px;

}

/**********************************************/

.contact{
  font-size: 50px;
  width: auto;
  text-align: center;
}

img:hover{
  border-radius: 100%;
  background-color: powderblue;
}
